<!DOCTYPE html>
<html>
<head>
    <title>ASCII fisher</title>
    <style type='text/css'>
* {
    font-family: monospace;
    line-height: 1.5em;
}
section {
    font-size: 1.5em;
}
section + section {
    display: none;
}
a:visited {
    color: blue;
}
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type='text/javascript'>

var GAME = {}
var LEVEL = {}

function url(specifics) {
    return '/gofish/api/' + specifics;
}

function err(error) {
    alert(error);
}

function open(selector) {
    $('section').hide();
    $('#' + selector).show();
}

function generateLevelUrls(levels) {
    var h = '';
    for (var i in levels) {
        h += '<a href="#" onclick="selectLevel(' + i + ')">' + levels[i].name + 
             '</a>, cost <strong>' + levels[i].cost + '</strong><br/ >';
    }
    $('#levels').html(h);
}

function selectLevel(lvl) {
    $.getJSON(url('start/' + lvl), function(data) {
        if (data.error) {
            err(data.error);
        }
        
        LEVEL = data;
        drawLevel();
        open('game');
    });
}

function caughtValue(caught) {
    var value = 0;
    for (var i in caught) {
        value += caught[i].value;
    }
    return value;
}

function caughtList(caught) {
    var list = [];
    caught.sort(function(a, b) { return (b.value - a.value == 0) ? b.weight - a.weight : b.value - a.value; });
    for (var i in caught) {
        list.push(caught[i].weight.toFixed(2) + ' kg ' + 
                  caught[i].name + '(<strong>+' + caught[i].value + '</strong>)');
    }
    return list.join('<br/ >');
}

function drawLevel() {
    console.log(LEVEL);
    $('#time-left').text(LEVEL.level.totalTime - LEVEL.level.time);
    $('#value-caught').text(caughtValue(LEVEL.caught));
    $('#info').html('<br/ >');
    
    // drawing the map
    var map = '<pre>';
    for (var i = 0; i < LEVEL.level.position; i++) {
        map += ' ';
    }
    map += "*\n";
    
    var maxDepth = 10;
    for (var i = 0; i < maxDepth; i++) {
        for (var j = 0; j < LEVEL.level.map[0].length; j++) {
            map += (i > LEVEL.level.map[0][j]) ? ' ' : '#';
        }
        map += "\n";
    }
    
    map += '</pre>';
    $('#representation').html(map);
}

function move(side) {
    $.getJSON(url('action/move/' + side), function(data) {
        if (!data.error) {
            LEVEL.level.position = data.position;
            LEVEL.level.time = data.time;
            drawLevel();
        }
    });
}

function fish(side) {
    $.getJSON(url('action/catchall/1'), function(data) {
        if (!data.error) {
            LEVEL.level.time = data.time;
            var fish = data.fishList[0];
            if (fish) {
                LEVEL.caught.push(fish);
            }
            drawLevel();
            
            if (fish) {
                $('#info').html("You've got " + fish.weight.toFixed(2) + 
                                " kg " + fish.name + " (<strong>+" + fish.value + "</strong>)");
            } else {
                $('#info').text("Nothing was caught");
            }
        }
    });
}

function end() {
    $.getJSON(url('end'), function(data) {
        if (!data.error) {
            $('#earned-money').text(data.earned);
            $('#res-total').text(data.money + data.earned);
            $('#res-caught').html(caughtList(LEVEL.caught));
            open('results');
        } else {
            initGame();
        }
    });
}

function initGame() {
    $.getJSON(url('getgame'), function(data) {
        console.log(data);
        GAME = data;
        $('#start-total').text(GAME.player.money);
        generateLevelUrls(GAME.levels);
        open('start');
    });
}

$(document).ready(initGame);
    </script>
</head>
<body>
    <header><h1>ASCII fisher!</h1></header>
    
    <section id="start">
        Money: <strong id="start-total"></strong><br/>
        Select level:<br/>
        <div id="levels"></div>
    </section>
    
    <section id="game">
        Time left: <strong id="time-left"></strong>,
        Value caught <strong id="value-caught"></strong><br/>
        <div id="actions">
            <a href="#" onclick="move('left')">left</a>,
            <a href="#" onclick="move('right')">right</a>,
            <a href="#" onclick="fish()">fish</a>,
            <a href="#" onclick="end()">end level</a>
        </div>
        <div id="info"></div>
        <div id="representation"></div>
    </section>
    
    <section id="results">
        Earned <strong id="earned-money"></strong> money, 
        total: <strong id="res-total"></strong><br/>
        <a href="#" onclick="initGame()">Return to level selection?</a><br/>
        <strong>You have caught:</strong>
        <div id="res-caught"></div>
        
    </section>
    
</body>
</html>
