<div id="baitMenuBG" class="top">

	<div id="baitMenuFG" class="centred-image centred-v">

		<div id="baitList">
			<div ng-hide="ownsBait()" class="large-sign centred-image">
				<h3 class="centred-text centred-v">
					Head to the shop after fishing to stock up on bait.
				</h3>
			</div>

			<div ng-show="ownsBait()" class="small-sign centred-image">
				<h3 class="centred-text centred-v">Choose your bait:</h3>
			</div>

			<div ng-show="ownsBait()" class="centred-image bait-menu-item" ng-repeat="(bait, equipped) in player.modifiers" ng-attr-id="{{'listItem-'+bait}}" ng-click="select(bait)">
				<div class="left centred-v title">
					<h3 class="centred-text">{{bait}}</h3>
				</div>
				<img class="right centred-v" ng-src="{{(bait == equippedBait) ? './img/bait/equipped.png' : './img/bait/'+bait+'.png'}}"></img>
			</div>
			<img ng-click="exit()" class="right confirm-button" src="./img/misc/ticksign2.png"></img>
		</div>
	</div>

</div>
