<div class="fishing-spot" ng-click="fish()">
	<div ng-repeat="depth in cues">
	<fishing-spot-depth level="level" depth="$index+1" cues="cues[$index]">
	</fishing-spot-depth>
	</div>
	<!-- ng-if used to ensure that cueDepth is computed before image is assigned -->
	<div ng-if="cueDepth" id ="cueDepth" class="fishing-spot-depth" ng-style="{'background-image':'url(./img/levels/{{level}}/{{cueDepth}}.png)'}">
		<img class="depth-cue" ng-src="./img/levels/{{level}}/depth_cues/{{leftDepthCue}}_{{rightDepthCue}}.png">
	</div>

	<div ng-show="showHint" id="fishHint" class="forward anim-fade" ng-click="fish()">
		<h3>Tap the water to fish</h3>
		<img class="bait-icon centred-image pulse" src="./img/icons/fish_hint.png">
	</div>

</div>
