<div class="hud top forward">
	<span class="right hud-right">
		<div class="hud-money">
			£{{money}}
		</div>
		<img class="bait-icon" ng-click="showBaitMenu()" ng-src="./img/bait/{{equippedBait}}.png"></img>
	</span>
	<span class="left hud-left">
		<div class="left progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{timeSpent}}" aria-valuemin="0" aria-valuemax="{{totalTime}}" ng-style="{width: (getTimePercentage() + '%')}" >
    			<span class="sr-only">{{getTimePercentage()}}% Complete</span>
 			</div>
		</div>
		<img id="progressIcon" class="left" src="./img/clock.png">
	</span>
	<div id="caughtInfo" class="centred-image">
		<h3 ng-show="caughtMsg">
			{{caughtMsg}}
		</h3>
	</div>
</div>

	<div id="fishHint" class="forward" ng-click="fish()">
		<h3 class="centred-text"><p ng-show="showHint" class="anim-fade">Tap the water to fish</p></h3>
		<img class="bait-icon centred-image pulse" ng-src="./img/bait/{{equippedBait}}_icon.png">
	</div>

<img ng-hide="level.level.position === 0" ng-click="moveLeft()" class="left arrow forward" src="./img/icons/leftarrow.png">
<img ng-hide="level.level.position === 19" ng-click="moveRight()" class="right arrow forward" src="./img/icons/rightarrow.png">

<bait-menu ng-if="player" ng-show="baitVisible" class="top forward"></bait-menu>
