<div class="hud top forward">
	<span class="right hud-right">
		<div class="hud-money">
			£{{money}}
		</div>
		<img class="bait-icon" ng-click="showBaitMenu()" src="./img/placeholderbait.jpg"></img>
	</span>
	<span class="left hud-left">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{timeSpent}}" aria-valuemin="0" aria-valuemax="{{totalTime}}" ng-style="{width: (getTimePercentage() + '%')}" >
    			<span class="sr-only">{{getTimePercentage()}}% Complete</span>
 			</div>
		</div>
	</span>

</div>

<bait-menu class="top forward" ng-show="baitVisible" player="player"></bait-menu>
