<div class="shop-item" ng-click="buy()">
	<div class="left scrollable left-75">
		<h3 ng-hide="owned">{{name}} (£{{bait.price}})</h3>
		<h3 ng-show="owned" class="centred-text">SOLD OUT</h3>
		<p ng-hide="owned">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<p ng-show="owned">You already own this bait.</p>
	</div>
	<div class="right right-25">
		<img ng-if="!owned" class="right shop-item-icon" ng-src="./img/bait/{{name}}.png"></img>
	</div>
</div>
