<?xml version='1.0' encoding='utf-8'?>
<widget id="com.project.gofish" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoFish</name>
    <description>
        A game about fishing, built to research user search behaviour.
    </description>
    <author email="1102140j@student.gla.ac.uk" href="http://seanjakobsen.com">
        Sean Jakobsen
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
