<!DOCTYPE html>
<html>
<head>
    <title>Optimising the game</title>
    <style type='text/css'>
* {
    font-family: monospace;
    line-height: 1.5em;
}
section {
    font-size: 1.5em;
}
a:visited {
    color: blue;
}
    </style>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
</head>
<body>
    <header><h1>TODO: calculate rewards for fish and prices for locations</h1></header>
    
    <section>
        <ol>
            <li>Run a MonteCarlo simulation of all the levels, to calculate average yields</li>
            <li>Build a model with some constraint programming toolkit out of it</li>
            <li>Solve it and display the results here.</li>
        </ol>
    </section>
</body>
</html>
