/* GENERAL */

.left {
	float: left;
}

.right {
	float: right;
}

.left-75 {
	width: 74%;
	height: 100%;
	padding-right: 1%;
	display: inline;
}

.right-25 {
	width: 25%;
	height: 100%;
	display: inline;
}

.full {
	height: 100%;
	width: 100%;
}

.scrollable {
	overflow: -moz-scrollbars-none;
	overflow: auto;
}

.forward {
	z-index: 999;
}

.top {
	position: fixed;
	top: 0;
	left: 0;
}

.bottom {
	position: fixed;
	top: 100%;
	left: 0;
}

.allow-for-nav {
	padding-top: 12%;
}

.centred-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.centred-v {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.centred-text {
	text-align: center;
}

/* Animation */

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(1.2); }
	100% { -webkit-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.anim-fade {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.anim-fade.ng-hide {
  opacity:0;
}

/* Loading */

#loadingBanner {
	width: 100%;
	text-align: center;
	background-color: rgba(122, 137, 234, 0.5);
}

#loadingScreen {
	background-image: url(../img/misc/loadingbackground.png);
	background-size: 100% 100%;
}

#loadingScreen h2{
	margin: 0;
	color: #82AD2C;
}

/* Splash Screen */

#splashScreen {
	background-image: url(../img/misc/background.png);
	background-size: cover;
	background-attachment: fixed;
}

#splashSpace {
	height: 25%;
	width: 100%;
}

#titleSign {
	height: 50%;
}

#playSign {
	height: 25%;
}

/* HUD */

#caughtInfo {
	width: 80%;
	margin-top: 30%;
	background-color: rgba(122, 137, 234, 0.5);
}

#caughtInfo h3 {
	text-align: center;
	margin: 0;
	padding: 5px 0 5px 0;
}

.bait-icon {
	width: 100%;
}

.arrow {
	position: fixed;
	top: 30%;
	height: 15%;
	opacity: 0.5;
	filter: alpha(opacity=40);
}

.arrow.left {
	left: 0;
	margin-left: 7%;
}

.arrow.right {
	left: 70%;
	margin-right: 7%;
}

.boat {
	height: 35%;
}

.hud {
	width: 100%;
	height: 15%;
}

.hud-money {
	padding-left: 5%;
	background-color: yellow;
}

.hud-right {
	width: 20%;
	padding-top: 2%;
}

.hud-left {
	width: 80%;
	height: 100%;
	padding-top: 2%;
}

.minimap {
	width: 65%;
	height: 100%;
	background-color: rgba(122, 137, 234, 0.5);
}

.progress {
	width: 65%;
	margin: 0 0 0 0;
	border-radius: 0;
}

#progressIcon {
	width: 10%;
	margin-left: -10px;
}

/* BAIT MENU */

#baitMenuBG {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

#baitMenuFG {
	height: 80%;
	width: 80%;
	background-image: url(../img/misc/sign.png);
	background-size: 100% 100%;
}

#baitList {
	height: 80%;
	width: 100%;
}

.bait-menu-item {
	height: 25%;
	width: 95%;
	background-image: url(../img/misc/sign.png);
	background-size: 100% 100%;
	margin-top: 15px;
}

.bait-menu-item img {
	width: 25%;
	height:	auto;
	padding-right: 5px;
}

.actionbar {
	height: 20%;
	width: 100%;
	padding: 0 0 2.5% 0;
}

.button {
	width: 40%;
	text-align: center;
	margin: 0 5% 0 5%;
}

.title {
	width: 60%;
}

/* GAME */

.level-screen {
	height: 100%;
	width: 100%;
	background-size: 100% 11%;
	background-repeat: repeat;
}

.shift {
	height: 75%;
	width: 100%;
}

.above-water {
	background-image: url(../img/placeholderpond.jpg);
	background-size: 100% 100%;
	height: 40%;
}

.water {
	height: 60%;
}

.fishing-spot-depth {
	width: 100%;
	height: 20%;
	background-size: 100% 100%;
}

.fish-cue {
	width: 100%;
	height: 100%;
}

.depth-cue {
	width: 100%;
	height: 100%;
}

#fishHint {
	position: fixed;
	top: 40%;
	left: 25%;
	width: 50%;
}

#fishHint h3 {
	text-align: center;
}

#fishHint img {
	width: 25%;
}

/* RESULTS */

#resultsScreen {
	background-color: rgba(0, 0, 0, 0.3);
}

#resultsScreenInner {
	height: 80%;
	width: 80%;
	background-color: rgba(152, 170, 245, 1);
}

#resultsScreenInner h2 {
	margin-top: 0;
	padding-top: 10%;
}

#caughtList {
	height: 50%;
	width: 80%;
}

/* MENUS */

#menuScreen {
	height: 100%;
	background-image: url(../img/misc/background.png);
	background-size: cover;
	background-attachment: fixed;
}

.menu-nav {
	width: 100%;
	height: 10%;
	padding: 0% 15px 0% 15px;
	background-color: rgba(152, 170, 245, 1);
}

/* Center headings vertically */
.menu-nav h2, .menu-nav h1 {
	line-height: 100%;
	display: inline-block;
}

.menu-nav a {
	color: white;
}

.menu-money {
	width: 20%;
	position: fixed;
	top: 12%;
	left: 80%;
	padding-left: 2%;
	background-color: yellow;
}

/* LEVEL SELECT */

.user-icon {
	width: 42px;
	height: 42px;
}

/* SHOP & LEVEL */

.shop-item, .level {
	height: 15%;
	padding: 1%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	background-image: url(../img/misc/sign.png);
	background-size: 100% 100%;
}

.shop-item h3, .level h3 {
	margin-top: 0px;
}

.shop-item-icon, .level-icon {
	height: 100%;
}
