/* GENERAL */

.left {
	float: left;
}

.right {
	float: right;
}

.left-75 {
	width: 74%;
	height: 100%;
	padding-right: 1%;
	display: inline;
}

.right-25 {
	width: 25%;
	height: 100%;
	display: inline;
}

.scrollable {
	overflow: -moz-scrollbars-none;
	overflow: auto;
}

.forward {
	z-index: 999;
}

.top {
	position: fixed;
	top: 0;
	left: 0;
}

.bottom {
	position: fixed;
	top: 100%;
	left: 0;
}

.allow-for-nav {
	padding-top: 70px;
}

/* HUD */

.bait-icon {
	width: 100%;
}

.hud {
	width: 100%;
	height: 15%;
}

.hud-money {
	padding-left: 5%;
	background-color: yellow;
}

.hud-right {
	width: 20%;
	padding-top: 2%;
}

.hud-left {
	width: 80%;
	height: 100%;
	padding-top: 2%;
}

.minimap {
	width: 65%;
	height: 100%;
	background-color: rgba(122, 137, 234, 0.5);
}

.progress {
	width: 65%;
	margin: 0 0 0 0;
	border-radius: 0;
}

/* GAME */

.level-screen {
	height: 100%;
	width: 100%;
	background-repeat: repeat;
}

.above-water {
	background-image: url(../img/placeholderpond.jpg);
	background-size: cover;
	padding-top: 30%;
	height: 40%;
}

.water {
	height: 60%;
}

.fishing-spot-depth {
	width: 100%;
	height: 20%;
	background-size: auto 100%;
}

.depth-cue {
	width: 100%;
	height: 100%;
}

/* LEVEL SELECT */

.user-icon {
	width: 42px;
	height: 42px;
}

/* SHOP & LEVEL */

.shop-item, .level {
	height: 15%;
	padding: 1%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	background-color: green;
	/*
	background-image: url(../img/wood.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	*/
}

.shop-item h3, .level h3 {
	margin-top: 0px;
}

.shop-item-icon, .level-icon {
	height: 100%;
}
